.nav-item {
    margin: 0;
    padding: 0;
    background: #f2f2f1;
    width: 150px;
    height: calc(100% - 2px - 33px);
    user-select: none;
    position: fixed;
    top: 33px;
}

.nav-button {
    display: block;
    width: 100%;
    height: 50px;
    color: #000;
    font-size: 13px;
    line-height: 2;
    padding-left: 20px;
    background-color: transparent;
    text-align: left;
    cursor: default;
    outline: none;
}

.nav-button:hover,
.nav-button:focus:not(.is-selected) {
    color: #d20a0a;
}

.nav-button.is-selected {
    background-color: #f1e7e6;
    color: #d20a0a;
}